body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#wrapper {
    height: 90vh;
    width: 90vw;
    border: 1px solid black;
}

.fa-scissors {
    position: fixed;
}

i {
    font-size: 50px;
}