body {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

img {
    height: 50px;
    width: 50px;
    font-size: 50px;
    position: fixed;
    text-align: center;
    user-select: none;
}

main {
    position: fixed;
    left: 40%;
    top: 30%;
    height: 300px;
    width: 300px;
    border: blue solid 1px;
}