body {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

div {
    height: 25px;
    width: 25px;
    border: red solid 1px;
    position: fixed;
}

main {
    position: fixed;
    left: 40%;
    top: 30%;
    height: 300px;
    width: 300px;
    border: blue solid 1px;
}